body{
   font-family: 'Poppins';
}
.nav-back{
   background: rgba(17, 219, 207, 0.8);
}
.navbar-brand{
   font-size: 20px;
   color: #000;
   font-weight: bold;
}
.nav-link{
   color: #000;
}
.nav-link:hover{
   color: #fff;
}


/*hero*/
#hero{
   width: 100%;
   height: 80vh;
   background: url(img/hero\ 3.jpg) center;
   background-size: cover;
}
#hero .container{
   padding-top: 80px;
}
#hero:before{
   content:"";
   background: rgba(0,0,0,0.7);
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   height: 80vh;
}
#hero h1{
   margin: 0 0 10px 0;
   font-size: 48px;
   font-weight: bold;
   line-height: 56px;
   color: #fff;
}
#hero h2{
   color: #fff;
   margin-bottom: 5px;
   font-size: 18px;
   font-weight: light;
   letter-spacing: 0.5px;
}
.main-btn{
   font-weight: bold;
   font-size: 15px;
   letter-spacing: 1px;
   display: inline-block;
   padding: 8px 28px;
   border-radius: 50px;
   transition: 0.5s;
   margin: 10px;
   border: 2px solid #fff;
   color: #fff;
}
.main-btn:hover{
   background: #11dbcf;
   border: 2px solid #11dbcf;
   text-decoration: none;
   color: #fff;
}

/*hero*/
#hero-about{
   width: 100%;
   height: 50vh;
   background: url(img/her0\ 3.jpg) center;
   background-size: cover;
}
#hero-about .container{
   padding-top: 80px;
}
#hero-about:before{
   content:"";
   background: rgba(0,0,0,0.8);
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   height: 50vh;
}
#hero-about h1{
   margin: 0 0 10px 0;
   font-size: 35px;
   font-weight: bold;
   line-height: 56px;
   color: #fff;
}



/*sercives*/
.service{
   text-align: center;
   padding: 70px 20px 80px 20px;
  /* background: rgba(17, 219, 207, 0.8);*/
}
.service .icon{
   margin: 0 auto;
   width: 64px;
   height: 64px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   background: #fc8516;
   border-radius: 50px;
}
.service .icon i{
   font-size: 32px;
   line-height: 1;
   position: relative;
   color: #fff;
}
.service h4{
   margin: 10px 0 15 0;
   font-weight: bold;
   font-size: 20px;
}
.service p{
   line-height: 24px;
   font-size: 15px;
   margin-bottom: 0;
}



/*Views*/
.view{
   text-align: center;
   padding: 70px 20px 80px 20px;
  /* background: rgba(17, 219, 207, 0.8);*/
}
.view .icon{
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   background: #11dbcf;
   
}
.view .icon i{
   font-size: 35px;
   padding: 5px;
   position: relative;
   color: #fff;
}
.view h4{
   margin: 10px 0 15 0;
   font-size: 18px;
}
.view p{
   font-size: 15px;
   margin-bottom: 0;
}


/*about*/
.about-section{
   margin-top: 5rem;
   margin-bottom: 5rem;
}
.about-heading{
   text-transform: uppercase;
}
.about-heading-upper{
   display: block;
   font-size: 1rem;
   font-weight: bold;
}
.about-heading-lower{
   display: block;
   font-size: 38px;
   font-weight: light;
}
.bg-faded{
   background: rgba(17, 219, 207, 0.7);
}
.about-button .btn-color{
   background: #03859a;
   color: #fff;
}
.about-button .btn-color:hover{
   background: #015d6b;

}
.about{
   position: relative;
}
@media screen and (min-width:992px){
   .about .about-img{
      width: 75%;
      float: right;
   }
   .about .about-text{
      left: 0;
      width: 60%;
      margin-top: 3rem;
      position: absolute;
   }
   .about .about-text .about-button{
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
   }
}
@media screen and(min-width:1200px){
   .about .about-text{
      width: 45%;
   }
}

/*camp*/
.camp{
   background: #11dbcf;
   padding-bottom: 0;
}
.camp h2{
   color: #000;
   margin-bottom: 0;
}
.camp-grid{
   margin-top: 30px;
}
.camp-grid .row{
   margin: 0;
}
.camp-grid .row > div{
   padding: 0;
}
.camp-grid .row > div .card img{
   width: 100%;
}
.camp-grid .row > div .card .camp-text{
   position: absolute;
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
   text-align: center;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;
}
.camp-grid .row > div .card .camp-text > div{
   position: relative;
   top: 25%;
   transition: translateY(-50%);
}
.camp-grid .row > div .card .camp-text .card-title{
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 0;
}
.camp-grid .row > div .card .camp-text .card-text{
   color: #fff;
   opacity: .75;
   padding: 0 45px;
   font-size: 15px;
}
.camp-grid .row > div .card:hover .camp-text{
   opacity: 1;
   visibility: visible;
}

/*team*/
.team{
   background: #fff;
}
.team .member{
   position: relative;
   box-shadow: 1px 2px 15px rgba(17, 219, 207, 0.5);
   padding: 30px;
   border-radius: 10px;
   text-align: start;
}
.team .member .image{
   overflow: hidden;
}
.team .member .image img{
   transition: ease-in-out 0.3s;
}
.team .member:hover img{
   transform: scale(1.1);
}
.team .member h4{
   font-weight: bold;
   margin-top: 10px;
   font-size: 20px;
   color: #000;
}
.team .member span{
   display: block;
   font-size: 15px;
   padding-bottom: 5px;
   position: relative;
   font-weight: bold;
}
.team .member span::after{
   content: "";
   position: absolute;
   display: block;
   width: 50px;
   height: 1px;
   transform: translateX(-50%);
}
.team .member p{
   margin: 2px 0 0 0;
   font-size: 14px;
}
.team .social-icons{
   margin-top: 20px;
   display: flex;
   align-items: start;
   justify-content: start;
}
.team .social-icons a:hover{
   transform: scale(1.8);
}
.team .social-icons a{
   text-decoration: none;
   transition: ease-in-out .3s;
   display: flex;
   font-size: 20px;
   padding-right: 10px;
}

/*contact*/
.contact-box{
   color: #000;
   text-align: center;
   box-shadow: rgba(17, 219, 207, 0.5);
   padding: 20px 0 30px 0;
   background: #12c0db;
}
.contact-box i{
   font-size: 32px;
   color: #fff;
   border-radius: 50%;
}
.contact-box i{
   font-size: 32px;
   color: #fff;
   border-radius: 50%;
}
.contact-box h3{
   font-size: 20px;
   color: #000;
   font-weight: bold;
   margin: 10px 0;
}
.contact-box p{
   padding: 0;
   line-height: 24px;
   font-size: 15px;
   margin-bottom: 0;
}
.contact button{
   background: #11dbcf;
   color: #fff;
   border: none;
   padding: 10px;
}
.contact button:hover{
   background: #077083;
   color: #fff;
}



.footer{
   text-align: center;
   font-size: 15px;
   background: rgba(17, 219, 207, 0.8);
}
.footer .btn-back{
   background: #fff;
   color: #11dbcf;
}
.footer .btn-back:hover{
   color: #000;
}
.footer .text{
   color: #000;
}
.btn-social i{
   font-size: 22px;
}